@import "homepage.css";


@import "friends.css";
@import "messages.css";
@import "tasks.css";


.messgaeConatinerForCSS {
    display: block;
}
.container {
    display: flex;
    
}
.fullDashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.articles {
    border: 1px black solid;
}
.events {
    border: 1px black solid;
}

.hidden {
    display: none;
}